$transparent: "transparent";
$white: #ffffff;
$black: #000;
$primary: #F1B437;
$secondary: #2C1C2E;
$bleached-ceder: #180F19;
$salt-box: #686269;
$grey: #c7c7c7;
$nobel: #b6b6b6;
$pink-light: #D89FC5;
$orange-high: #E26245;
$blue-sky: #62C6E7;
