// @import "_reset.scss";
@import "_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
html,body {
  font-family: 'Sora', sans-serif !important;
  scroll-behavior: smooth;
}
.body-overlay {
  overflow: hidden;
  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 2;
  }
}
