@import "~@/assets/scss/_variables.scss";
@import "~@/assets/scss/_mixins.scss";
.contact-form {
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(0) translate(-50%, 0%);
  height: 90vh;
  width: 80vw;
  transform-origin: center center;
  max-width: 140rem;
  max-height: 70rem;
  transition: all cubic-bezier(1,0,.15,.83) 0.4s;
  z-index: 4;
  @media (max-width: 996px) {
    width: 90vw;
  }
  &__form {
    padding: clamp(3rem, 10vh, 6.563rem) clamp(3rem, 5vw, 5.75rem);
    width: 50%;
    @media (max-width: 996px) {
      padding: 1.5rem 1rem 0 1.5rem;
      width: 100%;
      height: 70%;
    }
  }
  &__title {
    @include fonts(normal, 400, clamp(1.5rem, 3vw, 2.5rem), inherit);
    color: $secondary;
  }
  &__description {
    @include fonts(normal, 300, clamp(0.7rem, 3vw, 1rem), inherit);
    opacity: 0.5849;
  }
  &__input {
    @include fonts(normal, 400, clamp(0.8rem, 1vh, 0.875rem), inherit);
    border-bottom: 1px solid $grey !important;
    color: $nobel;
    padding-bottom: 0.625rem;
    &:focus, &:hover {
      border-bottom: 1px solid $primary !important;
    }
  }
  &__send {
    @include fonts(normal, 400, clamp(0.8rem, 1vh, 0.813rem), inherit);
    background: $primary;
    padding: 1.313rem 5rem;
    letter-spacing: 0.211rem;
  }
  &__background {
    width: 50%;
    background-image: url("~@/assets/images/contact-form/contact-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 996px) {
      width: 100%;
      height: 30%;
    }
  }
  &__background-img {
    width: clamp(5rem, 10vw, 10rem);
  }
}
.contact-open {
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  opacity: 1;
  transform-origin: center center;
  transition: all ease-out 0.4s;
}
