@import "~@/assets/scss/_variables.scss";
@import "~@/assets/scss/_mixins.scss";
.partners {
  &__list {
    padding: 9.5rem 6.375rem 13rem 6.375rem;
  }
  &__subtitle {
    @include fonts(normal, 500, 0.813rem, inherit);
    opacity: 0.7;
    letter-spacing: 0.211rem;
    padding-bottom: 1.5rem;
  }
  &__title {
    @include fonts(normal, 500, 2.5rem, inherit);
  }
  &__wrapper-logo {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
  }
  &__logo {
    margin: 0 10rem 10rem 0;
  }
  &__about {
    position: relative;
    background-image: url("~@/assets/images/partners/sea.png");
    background-size: 100% 100%;
    padding: 10rem 9.5rem;
    &:before {
      content: '';
      width: 4.375rem;
      height: 4.375rem;
      background: $white;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
  &__title-bg{
    @include fonts(normal, 400, 2.5rem, inherit);
    span {
      color: $blue-sky;
    }
  }
  &__author {
    @include fonts(normal, 400, 0.688rem, inherit);
    color: $primary;
    padding-top: 6.25rem;
    letter-spacing: 0.179rem;
  }
}
